:root {
  --justeat--01: rgb(238, 120, 27);
  --justeat--02: #efedea;
  --justeat--03: rgb(199, 123, 65);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.loading {
  /* Add a red border */
  border: 2px solid rgb(70, 70, 70);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border-top-color: rgb(238, 120, 27);
  animation: spinner 1s linear infinite;
}

main {
  width: 90vw;
  max-width: 1680px;
  margin: 5rem auto;
}

.title {
  text-align: center;
}

.title-underline {
  background: var(--justeat--01);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.restaurants {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
}

.single-restaurant {
  background: rgb(255, 252, 219);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.single-restaurant:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.restaurants-rating {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  color: var(white);
  letter-spacing: 2px;
  background: rgb(179, 127, 13);
  border-bottom-right-radius: 0.5rem;
}

.restaurant-info {
  padding: 2re, 1.5rem;
}

.restaurant-info h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: black;
}
